<% data = site.data[:home][:current_projects] %>

<div id="current_projects" class="mx-auto py-12 container">
  <div class="max-w-xl">
    <h2 class="text-4xl heading"><%= data[:title] %></h2>
    <h2 class="text-xl mb-16 font-sans"><%= data[:sub_title] %></h2>
  </div>

  <div class="flex flex-wrap -mx-12">
    <% data[:content].each do |project| %>
      <div class="px-12 w-full md:w-1/2 mb-8">
        <a href="<%= project[:url] %>" target="_blank" class="block">
          <div>
            <h3 class="mb-4 text-2xl heading heading--link"><%= project[:title] %></h3>

            <div class="content">
              <p class="text-base"><%= project[:description] %></p>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
