---
layout: home
---

<div class="px-4 sm:px-0">
  <%= partial 'home/intro' %>
  <%= partial 'home/current_projects' %>
  <%= partial 'home/work_experience' %>
  <%= partial 'home/small_projects' %>
  <%= partial 'home/contact_form' %>
</div>
