---
layout: page
title: Santiago's Blog
sub_title: My thoughts and advice about life, personal finance and software development.
permalink: /blog
---

<div class="max-w-2xl pt-16">
  <ul>
    <% site.posts.reverse.each do |post| %>
      <li>
        <a class="block mb-20" href="<%= post.url %>">
          <h2 class="mb-6 text-3xl heading heading--link"><%= post[:title] %></h2>

          <div class="content">
            <p><%= post[:excerpt] %></p>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex">
              <% post[:categories].each do |category| %>
                <div class="font-sans text-blue-500 mr-4 uppercase font-bold text-xs"><%= category %></div>
              <% end %>
            </div>

            <div class="flex items-center">
              <div class="font-sans text-blue-500"><%= post[:author] %></div>
              <div class="mx-6 text-gray-600">–</div>
              <div class="font-sans text-gray-600"><%= date_to_string post[:date], 'ordinal', 'US' %></div>
            </div>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
