---
layout: page
title: Santiago's Blog
sub_title: My thoughts and advice about life, personal finance and software development.
permalink: /blog
---

<div class="max-w-xl">
  <label for="contact_email" class="block mb-2">Leave your email to receive updates</label>
  <%= partial 'contact_form', locals: { source_page: page[:permalink] } %>
</div>

<div class="max-w-2xl pt-16">
  <ul>
    <% site.posts.docs.reverse.each do |post| %>
      <li>
        <a class="block mb-20" href="<%= post.url %>">
          <div class="mb-4">
            <h2 class="text-3xl heading heading--link"><%= post[:title] %></h2>
          </div>

          <div class="content">
            <p><%= post[:excerpt] %></p>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex">
              <% post[:categories].each do |category| %>
                <div class="font-sans text-blue-500 mr-4 uppercase font-bold text-xs"><%= category %></div>
              <% end %>
            </div>

            <div class="font-sans text-gray-600"><%= date_to_string post[:date], 'ordinal', 'US' %></div>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
