---
layout: page
title: Work experience
sub_title: I have worked for a few startups and small companies all over the world
permalink: /work
---

<% data = site.data[:work] %>

<div class="bg-white">
  <div class="container mx-auto">
    <% data[:content].each.with_index do |job, i| %>
      <div class="flex -mx-4 items-stretch <%= (i % 2).positive? ? 'flex-row-reverse' : '' %>">
        <div class="px-4 w-1/2">
          <div class="p-8 bg-white text-gray-800 rounded-lg my-16">
            <h3 class="font-bold text-gray-900 text-2xl"><%= job[:title] %></h3>
            <h4 class="font-bold text-gray-700 mb-4"><%= job[:sub_title] %></h4>

            <p><%= job[:description] %></p>
          </div>
        </div>

        <div class="flex flex-col items-center">
          <div class="border-r-8 border-blue-500 flex-1 h-full"></div>
          <div class="h-8 w-8 rounded-full border-solid border-8 border-blue-500"></div>
          <div class="border-r-8 border-blue-500 flex-1 h-full"></div>
        </div>

        <div class="px-4 w-1/2 flex items-center text-xl text-gray-700 <%= (i % 2).positive? ? 'justify-end' : '' %>">
          <%= job[:date] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
